.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 50px;
  justify-content: center;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .card {
    flex: 1 1 0;
  }
}
.box-model {
  color: chocolate;
  border: 20px solid black;
  padding: 20px;
  margin: 20px;
  background-color: lightyellow;
  width: 200px;
  height: 470px;
  box-sizing: border-box;
}

.box-model2 {
  color: chocolate;
  border: 10px solid orangered;
  padding: 15px;
  margin: 15px;
  background-color: lightyellow;
  width: 200px;
  height: 400px;
  box-sizing: border-box;
}

.box-model3 {
  color: chocolate;
  border: 5px solid purple;
  padding: 10px;
  margin: 5px;
  background-color: lightyellow;
  width: 200px;
  height: 350px;
  box-sizing: border-box;
}

.fancy-button {
  border: 3px solid black;
  font-size: 20px;
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}

.fancy-button:hover {
  border: 3px solid black;
  font-size: 20px;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}
body {
  background-color: lightgray;
  font-family: "Courier New", monospace;
}
